<!-- Twitter Bootstrap navbar -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Pollex</a>
       <div class="nav-collapse">
       <ul class="nav">
            <li><a href="{{site.baseurl}}">Home</a></li>
           	<li><a href="{{site.baseurl}}api/">API</a></li>
       </ul>
       </div>
     </div>
   </div>
 </div>